<div class="Borde">
    <h1>Habilidades</h1>
    <!-- Graficos de Porcentajes -->
  
    <!-- Grafico 1 -->
    <div class="row">
      <div class="col-4">
        <figure class="figure">
          <img src="assets/images/Porcentaje_50.png" class="BordeGral" width="50%" alt="Porcentaje_50">
          <figcaption class="figure-caption text-start">
            <p>HTML</p>
          </figcaption>
      </figure>
      </div>
      <!-- Grafico 2 -->
      <div class="col-4">
        <figure class="figure">
          <img src="assets/images/Porcentaje_50.png" class="BordeGral" width="50%" alt="Porcentaje_50">
          <figcaption class="figure-caption text-start">
            <p>CSS</p>
          </figcaption>
        </figure>
      </div>
      <!-- Grafico 3 -->
      <div class="col-4">
        <figure class="figure">
          <img src="assets/images/Porcentaje_50.png" class="BordeGral" width="50%">
          <figcaption class="figure-caption text-start">
          <p>JAVASCRIPT</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
